.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.w-7 {
    width: 70%;
}

.w-3 {
    width: 30%;
}

.border-right {
    border-style: none solid none none;
    border-color: #555;
}
