.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.w-7 {
    width: 70%;
}

.w-8 {
    width: 80%;
}

.w-3 {
    width: 30%;
}

.border-right {
    border-style: none solid none none;
    border-color: #555;
}

.padding {
    padding: 2em;
}

.mr-2 {
    margin-right: 2em;
}

